/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Install Fonts */
@font-face {
    font-family: righteous;
    src: url('../fonts/Righteous-Regular.ttf');
}

/* Style */
body {
    font: 16px/28px 'poppins', sans-serif;
    color: #292b2c;
    background-image: url(img/pattern1.png);
}

.container {
    width: 800px;
    margin: auto;
    background-color: white;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 20px 30px;
}

.header .judul {
    font-size: 32px;
    font-family: 'righteous', cursive;
    float: left;
    color: #292b2c;
}

.header span {
    color: #f0ad4e;
}

.header ul {
    float: right;
}

.header ul li {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.header a {
    text-decoration: none;
    color: #d9534f;
    padding: 4px;
}

.header a:hover {
    background-color: #f0ad4e;
    color: white;
}

.hero {
    height: 350px;
    background-image: url(img/hero.jpg);
    background-size: cover;
    border-top: 7px solid #d9534f;
    border-bottom: 7px solid #f0ad4e;
}

.content {
    padding: 30px;
    padding-top: 20px;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: #292b2c;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    color: #d9534f;
    text-decoration: none;
}

.content .penulis a:hover {
    color: #f0ad4e;
    text-decoration: underline;
}

.content p {
    font-size: 14px;
    margin-bottom: 20px;
}

.footer {
    background-color: #292b2c;
    padding: 10px;
}

.footer .copyright {
    font-size: 14px;
    color: white;
    text-align: center;
}